.Nav {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: sandybrown;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content{
  margin: auto;
  text-align: center;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 0;
    transition: top 0.5s;
}