.loginContainer {
    display: inline-block;
    width: 30%;
    border: solid 1px lightgray;
    border-radius: 5px;
    text-align: center;
    margin-top: 3em;
}

.login {
    display: block;
    padding: 1em 1em 0 1em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.loginHeader {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 0 0 0.5em 1em;
    margin: 0;
    background: lightgray;
    color: gray;
}

.container {
    width: auto;
}

.alertContainer {
    padding: 1em
}

.alert {
    margin: 0;
}

.loginFormContainer {
    padding-left: 1em;
}

@media screen and (max-width:  920px) {
    .loginContainer {
        width: 60%;
    }
}

@media screen and (max-width:  480px) {
    .loginContainer {
        width: 90%;
    }
}

