.header {
    text-align: left;
    background: sandybrown;
    background-size: cover;
    overflow: visible;
    padding: 1em 0;
    display: flex;
    align-items: center; /* align vertical */
}

.headerContent {
    width: 70%;
    margin: auto;
}

.header .headline {
    color: #ffe;
    float: left;
}

.headline {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-right: 0.5em;
}

.header-subnav {
    margin-top: 0.8em;
}

.header-subnav li {
    text-decoration: none;
    display: inline;
    float: left;
}
.header-subnav li a {
    margin-top: 1em;
    padding: 2em 0.5em 1.5em 0.5em;
    font-size: 1.5rem;
    color: #ffe;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.35s ease-in-out; }
.active {
    background: rgba(250, 250, 250, 0.15); }
.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out; }