.management {
    width: 70%;
    margin: auto;
}

.management-nav {
    text-align: left;
    margin: auto;
    font-size: 1rem;
    color: sandybrown;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
    width: 100%;
}


.management-nav ul {
    padding-left: 0.4rem;

}

.management-nav li {
    float: left;
    padding: 1rem 1rem 1rem 0;
    list-style: none;

}

.management-nav li a {
    text-decoration: none;
    color: sandybrown;
    transition: all 0.35s ease-in-out;
}

.management-nav li {
    text-decoration: none;
    color: sandybrown;
}

.management-nav li a:visited {
    text-decoration: none;
    color: sandybrown;
}

.management-nav li:hover {
    text-decoration: none;
    color: sandybrown;
    background: #dedede;
    transition: all 0.35s ease-in-out;
}

.searchBar {
    float: right;
}

.content {
    clear: left;
    height:100vh;
}

.inputField {
    margin-left: 5px;
}

.submitButtonDiv {
    float: left;
    margin-left: 1em;
}

.control-label {
    float: left;
}

.addWorker {
    padding: 1em 1em 1em 0;
}

.container {
    padding-left: 0;
}